/* Variables */  
:root {
    --orange: #18dddd;
    --grey: #f3f3f3;
    --white: #fff;
    --base-color: var(--orange);
  }
  
  /* Mixins */  
  @keyframes transition {
    0% {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
  }
  
  @keyframes corners {
    0% {
      -moz-border-radius: var(--radius);
      -webkit-border-radius: var(--radius);
      border-radius: var(--radius);
      -khtml-border-radius: var(--radius);
    }
  }
  
  body {
    background: var(--base-color);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    height: 100%;
  }
  
  .wrapper {
    width: 800px;
    margin: 30px auto;
    color: var(--white);
    text-align: center;
  }
  
  h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;
  }
  
  #seconds, #tens {
    font-size: 2em;
  }
  
  button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    -khtml-border-radius: 5px;
    background: var(--base-color);
    color: var(--white);
    border: solid 1px var(--white);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
  }
  
  button:hover {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: var(--white);
    border: solid 1px var(--white);
    color: var(--base-color);
  }
  